html,
body {
    height: 100%;
    font-size: 1rem;
    font-family: "Montserrat" , sans-serif;
}



 .gradient {
 background: rgb(0, 97, 242);
 background: linear-gradient(
     135deg,
     rgba(0, 97, 242, 1) 0%,
     rgba(105, 0, 199, 1) 100%
 );
 }

.page-header{
    margin-top: 4rem;
    font-size: 1.25rem;
    color: #fff;
}

.feature {
    color: #fff;
}

.icon{
    
    font-size: 2rem;
    border-radius: 100%;
    display: inline-flex;
    align-items: centre;
    justify-content: centre;
    
}

.gallery {
    background-color: whitesmoke;
}

.gallery img{
    border-radius: 5%
}

.services{
    color: #fff;
}
footer{
    colour:#fff;
    font-size: 1rem;
    margin: 0;
    padding: 0.50rem;

}

a{
    color: #fff;
    text-decoration: none;
}
